<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>05 Backbone MVC</title>

  <link rel="stylesheet" href="normalize.css">
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto' type='text/css'>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <section id="moviesList">
    
  </section>
  
  <script type="text/template" id="movie-template">
      <span class="toggle">+</span>
    <img src="<%= poster %>" alt="<%= title %> Poster">
    <div class="cont">
      <h2><span class="title" contenteditable><%= title %></span> (<span class="year" contenteditable><%= year %></span>)</h2>
      <p contenteditable><%= description %></p>
      <ul class="cast">
        <% _.each(cast, function(field,e) { %>
          <li data-id="<%= e %>" contenteditable><b><%= field.actor %></b> <i><%= field.role %></i></li>
        <% }); %>
          <li><input name="actor" placeholder="Actor"> <input name="char" placeholder="Character"><button name="addActor">Add</button></li>
      </ul>

      <button class="save">Save Changes</button>
      <button class="discard">Discard Changes</button>
      <button class="delete">Delete</button>
    </div>
  </script>

  <script data-main="js/app.js" src="js/lib/require.js"></script>
</body>
</html>