body {
	margin: 0 auto;
	width:70%;
	font-family: 'Roboto', sans-serif;
}

h2 {
	font-size: 30px;
}

article {
	margin:5px 20px;
	padding:15px 0;
	position: relative;
	border-bottom: 1px solid #333;
}

article .toggle {
	position: absolute;
	background: lightgray;
	width: 20px;
	height: 10px;
	border: 1px solid black;
	border-radius: 3px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	padding-top: 10px;
	line-height: 0;
}

article img {
	width: 28%;
	margin:5px;
	float: left;
}

article .cont{
	width:68%;
	float:right;
}

ul {
	list-style: none;
}

ul li {
	text-align: left;
	padding-left:5px;
}

p {
	color: gray;
}

button.save {
  color: #FFFFFF; 
  background-color: #2B4BCC; 
  border-color: #130269; 
  border-radius: 5px 0 0 5px;
}

button.discard {
	border-radius: 0 5px 5px 0;
}

button.delete {
	color: #FFF;
	background: red;
	border: 1px solid #130269;
	border-radius: 5px;
	margin-left:20px;
}

input.error {
	border: 2px solid red;
}

article:not(.expanded) .cont{
	width:85%;
}
article:not(.expanded) img{
	width:10%;
}
article:not(.expanded) .cont p{
	display:none;
}
article:not(.expanded) .cont ul{
	display:none;
}
article:not(.expanded) .cont button{
	display:none;
}

.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
 
.clearfix:after {
clear: both;
}
 
.clearfix {
  *zoom: 1;
}
