.container {
  margin: 0 auto;
  margin-top: 10px;
  width: 98%;
}

.column {
  float: left;
  width: 100%;
}

.column.third { width: 33%; }

.image {
  position:relative;
  width:95%;
  opacity: 0.5;
  margin-bottom: 10px;
}
.image descr {
  position:absolute;
  width: 100%;
  display:none;
  height:30px;
  
  background-color: lightgray;
  font-weight: bold;
}

.image:hover {
  opacity: 1;
}

.image:hover descr {
  display:inline;
}

img {
  width:100%;
}

.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
 
.clearfix:after {
clear: both;
}
 
.clearfix {
  *zoom: 1;
}
